/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  background: #faf2f2;
}
.fullBody {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  background-color: #f1d1d1;
  position: relative;
  border-radius: 40px;
  border-bottom: 3px solid #7d5a5a;
  border-right: 4px solid #7d5a5a;
}
@media (max-width: 500px) {
  .fullBody {
    border-radius: 0;
    border: 0;
    width: 100%;
  }
}
h1 {
  font-size: 10rem;
  text-align: center;
  color: #13a591;
  font-family: 'Oxygen', sans-serif;
  padding: 5%;
}
@media (max-width: 500px) {
  h1 {
    font-size: 6rem;
    padding: 2%;
    font-weight: bold;
  }
}
.navBar {
  margin: 20px;
}
.navBar nav {
  display: flex;
  justify-content: space-around;
}
.navBar nav .navBtn {
  color: #7d5a5a;
  text-decoration: none;
  font-size: 2rem;
  margin: 10px;
}
@media (max-width: 500px) {
  .navBar nav {
    display: none;
  }
  #active {
    color: #7d5a5a;
    padding: 16px;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    margin-left: 50%;
    margin-right: 50%;
    display: inline-block;
  }
  .navBar {
    position: relative;
    display: inline-block;
  }
  .downBar {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 50%;
    margin-right: 50%;
  }
  .downBar a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
  }
  #active:hover {
    color: #13a591;
  }
  .downBar a:hover {
    background-color: #13a591;
  }
  .navBar:hover .downBar {
    display: block;
  }
}
.navBtn:hover {
  opacity: 50%;
  transition: all 1s;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}
footer {
  padding: 10%;
}
footer .appLogo {
  max-width: 200px;
}
footer .footNav {
  display: flex;
  justify-content: space-around;
}
footer .footNav a {
  text-decoration: none;
  margin-top: 30px;
  color: #7d5a5a;
  font-size: 2rem;
}
.footNav a:hover {
  opacity: 50%;
}
.aboutSection {
  position: relative;
  padding: 2%;
}
.aboutSection h2 {
  line-height: 1;
  color: #7d5a5a;
  margin: 5%;
  font-size: 2rem;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
.aboutSection p {
  font-size: 2rem;
  text-align: center;
  color: #7d5a5a;
  margin: 5%;
  font-family: 'Oxygen', sans-serif;
}
.donate {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  padding: 2%;
}
.donate .foodImg {
  max-width: 50%;
  border-radius: 30px;
  opacity: 90%;
}
.donate .button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 180px;
  padding: 10px;
  color: #13a591;
  margin-top: 180px;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}
@media (max-width: 500px) {
  .donate {
    flex-direction: column;
  }
  .donate .foodImg {
    max-width: 100%;
  }
  .donate .button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #7d5a5a;
    background-color: #13a591;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
}
.button:hover {
  opacity: 50%;
  color: black;
}
.foodFacts {
  text-align: start;
  margin-left: 100px;
  margin-right: 100px;
  padding: 2%;
}
.foodFacts .list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foodFacts .list .listP {
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2;
  font-family: 'Oxygen', sans-serif;
}
.foodFacts .list .listP .links {
  font-style: normal;
  font-size: 3rem;
  text-decoration: none;
  font-weight: bold;
  color: #13a591;
  position: relative;
  box-sizing: border-box;
}
.links:hover {
  opacity: 50%;
}
