h1 {
    font-size: 10rem;
    color:@boldColor;
    font-family: @fontStlye;
    text-align: center;
    padding:50px;
}

@media @mobile {
    h1 {
        font-size: 4rem;
        border-radius: 50px;
        text-align: center;
        font-size: 3rem;
        padding: 20px;
        background-color: @boldColor;
        font-weight: bold;
        font-family: @fontStlye;
    }
}

