footer {
    padding: 50px;
    .appLogo {
        max-width: 200px;
        }

        .footNav {
            display: flex;
            justify-content: space-around;
            a {
                text-decoration: none;
                margin-top: 30px;
                color: #7d5a5a;
                font-size: 1.2rem;
            }
        }
    }

   .footNav a:hover{
        opacity: 50%;
    }