body {
    background: #faf2f2;
}

.fullBody{
    max-width: 1200px;      
    width: 100%;
    margin:  auto;
    background-color: #f1d1d1;
}

.fullBody {
position:relative;
background:#f1d1d1;
border-radius: 40px;
transition:all 3.5s;
border-bottom: 3px solid #7d5a5a;
border-right: 4px solid #7d5a5a; 
}