.aboutSection {
position: relative;
padding:2%;
    h2{
    line-height: 1;
    color: @fontColor;
    margin: 5%;
    font-size: @fontSize;
    text-align: center;
    font-family: @fontStlye;};
        p {
        font-size: @fontSize;
        text-align: center;
        color: @fontColor;
        margin: 5%;
        font-family: @fontStlye;
    };
};


.donate {
    .flexBox(space-evenly);
    flex-direction: row-reverse;
    padding:2%;
        .foodImg {
        max-height:350px;
        max-width: auto;
        border-radius: 30px;
        opacity: 90%; };
            .button {
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 3rem;
            margin-bottom: 150px;
            padding: 10px;
            color: @boldColor;
            margin-top: 150px;
            font-weight: bold;
            font-family: @fontStlye;
    };
};

.button:hover{
opacity: 50%;
color:black;
};

@media @iMobile {
.donate {
    justify-content: center;
    .foodImg {
    max-height: 250px;
    max-width: auto;
        };
        .button {
        margin-top:70px;
        };
    };
};


@media @mobile {
    .donate {
    flex-direction: column;
        .foodImg {
        max-width: 100%;
        };
            .button{
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 15px 25px;
            font-size: 24px;
            text-align: center;
                cursor: pointer;
                outline: none;
                color: @fontColor;
                background-color: @boldColor;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
        };
    };
};


.foodFacts{
    text-align: start;
    margin-left: 100px;
    margin-right:100px;
    padding:2%;
    .list {
    .flexBox(space-evenly);
    align-items: center;
        .listP {
        text-align: center;
        padding:10px;
        font-style: italic;
        font-size: 1.6rem;
        line-height: 2;
        font-family: @fontStlye;
        color:@fontColor;
            .links {
            font-style: normal;
            font-size: 3rem;
            text-decoration: none;
            font-weight: bold;
            color: @boldColor;
            position: relative;
            box-sizing: border-box;
            };
        };  
    };
};

@media @mobile {
    .foodFacts {
        .list {
            flex-direction: column;
            .listP{
                padding: 0;
                .links {
                    padding: 10px;
                };
            };
        };
    };
};

.links:hover{
    opacity: @hover;
};