#active {
  margin: 5%;
};

.navBar {
  margin: 20px;
  border-bottom: 2px solid @fontColor;
    nav {
    .flexBox(space-around);
      .navBtn {
      color:@fontColor;
      text-decoration: none;
      font-size: @fontSize;
      margin: 10px;
    };
  };
};

@media @mobile {

.navBar {
  border:0;
  nav {
     display: none;
    };
};

    #active {
        padding: 16px;
        border: white 3px solid;
        background-color: @lightBodyColor;
        border-radius: 10px;
        cursor: pointer;
        display: @blockDisplay;
        width:200px;
      };
      
      .navBar {
        position: relative;
        display: @blockDisplay;
      };
      
      .downBar {
        display: none;
        position: absolute;
        background-color: @lightBodyColor;
        width:100%;
        z-index: 1;
      };
      
      .downBar a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      };

      #active:hover {
          color: @boldColor;
      };
      
      .downBar a:hover {background-color: @boldColor};
      
      .navBar:hover .downBar {
        display: block;
      };
      
    };

.navBtn:hover {
        opacity: @hover;
        transition:all 1s;
        border-right:2px solid black;
        border-left: 2px solid black;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
    };

