.aboutSection {
position: relative;
padding:2%;
background-color: @lightBodyColor;
margin: 50px;
opacity: 80%;
border-bottom-left-radius: 50px;
border-top-right-radius: 50px;
    h2{
    line-height: 1;
    color: @fontColor;
    margin: 5%;
    font-size: 4rem;
    text-align: center;
    font-family: @fontStlye;
    font-weight: bold;};
        p {
        font-size: @fontSize;
        text-align: center;
        color: @fontColor;
        margin: 5%;
        font-family: @fontStlye;
    };
};

@media @mobile{
    .aboutSection {
        border-radius: 0px;
        margin: 0;
    h2 {
        font-size:3rem;
       }
    }
}


.donate {
    .flexBox(space-evenly);
    flex-direction: row-reverse;
    padding:2%;
        .foodImg {
        max-height:350px;
        max-width: auto;
        border-radius: 30px;
        opacity: 90%; };
            .button {
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 3rem;
            padding: 10px;
            color: @boldColor;
            font-weight: bold;
            font-family: @fontStlye;
            .myButton(150px,150px);
    };
};

.button:hover{
    opacity: @hover;
    color:black;
};

.arrow {
    border: double slategray;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 4px;
};
  
  .right {
    transform: rotate(-45deg);
};
  

@media @iMobile {
.donate {
    justify-content: center;
    .foodImg {
    max-height: 250px;
    max-width: auto;
        };
        .button {
        margin-top:70px;
        };
    };
};


@media @mobile {
    .donate {
    flex-direction: column;
        .foodImg {
        max-width: 100%;
        };
            .button{
            .myButton(15px,15px);
            padding: 15px 25px;
            font-size: @fontSize;
            text-align: center;
                cursor: pointer;
                outline: none;
                color: @fontColor;
                background-color: @boldColor;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
        };
    };
};


.foodFacts{
    text-align: start;
    margin-left: 100px;
    margin-right:100px;
    padding:2%;
    .list {
    .flexBox(space-evenly);
    align-items: center;
        .listP {
        text-align: center;
        padding:10px;
        font-style: italic;
        font-size: 1.6rem;
        line-height: 2;
        font-family: @fontStlye;
        color:@fontColor;
            .links {
            font-style: normal;
            font-size: 3rem;
            text-decoration: none;
            font-weight: bold;
            color: @boldColor;
            position: relative;
            box-sizing: border-box;
            };
        };  
    };
};

@media @mobile {
    .foodFacts {
        .list {
            flex-direction: column;
            .listP{
                padding: 0;
                font-size: 1.3rem;
                .links {
                    padding: 10px;
                    font-size: 2.5rem;
                };
            };
        };
    };
};

.links:hover{
    opacity: @hover;
};