.navBar {
    margin: 20px;
    background-color: #f1d1d1;
    nav {
display: flex;
justify-content: space-around;
      
      a {
color:#7d5a5a;
text-decoration: none;
font-size: 1.4rem;
margin: 10px;
}
} 
}
