h1 {
    font-size: 6rem;
    text-align: center;
    color: #13a591;
    font-weight: bold;}

.navBar {
    margin: 20px;
    nav {
      display: flex;
      justify-content: space-around;  
      .navBtn {
        color:#7d5a5a;
        text-decoration: none;
        font-size: 1.4rem;
        margin: 10px;
        }
    }
}

.navBtn:hover {
        opacity: 40%;
        transition:all 1s;
        border-right:2px solid black;
        border-left: 2px solid black;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
    }